.popup__content {
  width: 282px;
  height: 322px;
  position: fixed;
  background-color: white;
  box-sizing: border-box;
  padding: 25px 22px;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 635px) {
  .popup__content {
    width: 430px;
    height: 330px;
    padding: 35px 36px;
  }
}