.card__like-button {
  width: 22px;
  height: 19px;
  border: none;
  background-image: url(../../../images/like.svg);
  background-color: white;
  transition: opacity .3s;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}