.popup__save-button {
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-radius: 2px;
  border: none;
  margin-top: 13px;
  padding: 14px 0;
  transition: opacity .3s;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 635px) {
  .popup__save-button {
    padding: 14px 0 18px;
    font-size: 18px;
    line-height: 22px;
  }
}